.file_info {
    width: 50%;
    background-color: rgb(243, 243, 243);
    padding: 10px;
    margin: 20px 0 10px 20px;
    overflow: hidden;
    outline-style: solid;
    outline-color: black;
    outline-width: 1px;

    &--dark {
        background-color: #282a36;
        color: #dbdbb7;
    }

    &__name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: calc(100%);
    }

    @media (min-width: @const_win_size_min) and (max-width: calc(@const_win_size_mobile - 1px)) {
        width: 100%;
        margin: 20px 0 10px 0px;
        position: relative;
    }
    @media (min-width: @const_win_size_mobile) and (max-width: calc(@const_win_size_monitor - 1px)) {
    }
    @media (min-width: @const_win_size_monitor) {
    }

    & > p {
        margin: 0;
        padding: 0;
    }
}
